.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.footer {
  margin-top: auto;
}

.container {
  max-width: 1000px;
}

// Posts
.posts-loader {
  text-align: center;

  i:before {
    animation: rotation 2s infinite linear;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// Post
.post-actions {
  a {
    transition: all 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }
}
